@model Model.EF.TaiKhoan

@{
    ViewBag.Title = "Tạo mới tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:80px">
    <h2 style="display: flex; justify-content: center; font-size: 35px; font-weight: 400">Tạo mới tài khoản</h2>


    @using (Html.BeginForm("Create", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 style="margin-left: 20px; font-weight: 400 ">Tài khoản</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="display: flex; align-items: center; width: 78%;">
        @Html.LabelFor(model => model.TenTK, "Tên tài khoản", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenTK, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenTK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display: flex; align-items: center; width: 78%;">
        @Html.LabelFor(model => model.Mat_Khau, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Mat_Khau, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.Mat_Khau, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display: flex; align-items: center; width: 78%;">
        @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display: flex; align-items: center; width: 78%;">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center; width: 78%;">
        @Html.LabelFor(model => model.SDT, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center; width: 78%;">
        @Html.LabelFor(model => model.Dia_Chi, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dia_Chi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dia_Chi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display: flex; align-items: center; width: 78%;">
        @Html.LabelFor(model => model.Quyen, "Quyền", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quyen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quyen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="display: flex; align-items: center; justify-content: center;">
            <input type="submit" style="font-size: 18px; margin-top: 22px; background-color: #7c548f; color: #fff;" value="Tạo mới" class="btn btn-default" />
        </div>
    </div>
</div>
    }

    <div>
        <a href="/Admin/User/Index" style="text-decoration: none; margin-left:20px;">Quay lại</a>
    </div>
    @if (ViewBag.Error != null)
    {
        <br />
        <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
    }
</div>

