@model IEnumerable<Model.EF.TaiKhoan>
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">Quản lý tài khoản</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property" onchange='change()'>
                                    <option selected="selected">Tất cả</option>
                                    <option value="TenTK">Tên tài khoản</option>
                                    <option value="Email">Email</option>
                                    <option value="Quyen">Phân quyền</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>Sắp xếp
                            </button>
                        </div>
                        <div class="table-data__tool-right">
                            <a style="color:#fff" href="/Admin/User/Create" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Thêm tài khoản
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>Tên tài khoản</th>
                                    <th>Họ tên</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ</th>
                                    <th>Phân Quyền</th>
                                    <th>Khóa tài khoản</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.TenTK</td>
                                    <td>@item.HoTen</td>
                                    <td>@item.Email</td>
                                    <td>@item.SDT</td>
                                    <td>@item.Dia_Chi</td>
                                    @if (@item.Quyen == null)
                                    {
                                        <td>Khách hàng</td>
                                    }
                                    else
                                    {
                                        <td>Quản trị website</td>
                                    }
                                    @if (@item.Khoa == true)
                                    {
                                        <td>Đang bị khóa</td>
                                    }
                                    else
                                    {
                                        <td>Không khóa</td>
                                    }
                                    <td>
                                        <div class="table-data-feature">
                                            @if (@item.Khoa == true)
                                            {
                                                <a href="/Admin/User/Logon?tenTk=@item.TenTK" class="item" id=@item.TenTK data-toggle="tooltip" data-placement="top" title="Mở khóa">
                                                    <i class="fas fa-lock"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/Admin/User/Logdown?tenTk=@item.TenTK" class="item" id=@item.TenTK data-toggle="tooltip" data-placement="top" title="Khóa">
                                                    <i class="fas fa-lock"></i>
                                                </a>
                                            }

                                            <a href="/Admin/User/Edit?tenTk=@item.TenTK" class="item" id=@item.TenTK data-toggle="tooltip" data-placement="top" title="Sửa">
                                                <i class="zmdi zmdi-edit"></i>
                                            </a>
                                            <a href="/Admin/User/EditPass?tenTk=@item.TenTK" class="item" id=@item.TenTK data-toggle="tooltip" data-placement="top" title="Đổi mật khẩu">
                                                <i class="zmdi zmdi-key"></i>
                                            </a>
                                            <a href="/Admin/User/Delete?tenTk=@item.TenTK" class="item itemdelete" id=@item.TenTK data-toggle="tooltip" data-placement="top" title="Xóa">
                                                <i class="zmdi zmdi-delete"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form class="changekeyform" action="/Admin/User/Index" method="get">
    <input type="text" class="changekey" hidden name="q" />
</form>
<script>
    function change() {
        var value = document.querySelector('.js-select2').value;
        var q = document.querySelector('.changekey');
        q.value = value;
        document.querySelector('.changekeyform').submit();
    }
</script>