@model Model.EF.TaiKhoan
@{
    ViewBag.Title = "EditAcc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.name != null)
{
    @section Styles{
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/detail.css" />
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/order.css" />
    }
}
else
{
    @section Styles{
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/detail.css" />
        <link rel="stylesheet" type="text/css" href="~/wwwroot/css/order.css" />
    }
}
<div class="content">
    <div class="content_left" style="height: 500px; overflow-y: hidden;">
        <div class="title_content-left">

            <h4> <i class="fas fa-bars"></i> DANH MỤC SẢN PHẨM</h4>
        </div>
        @{
            Html.RenderAction("ProductCartelogy", "Home");
        }


    </div>
    <div class="content_right">
        <h3 class="content_right-title">Sửa thông tin tài khoản</h3>
        <div class="content_customer">
            @using (Html.BeginForm("EditAcc", "Home", FormMethod.Post, htmlAttributes: new { @class = "form_infor", @style = "text-align: center;" }))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form_infor-input">
                    @Html.LabelFor(model => model.TenTK,"Tên tài khoản", htmlAttributes: new { @class = "lable" })
                   <span style="display: block; padding: 2px 0px 3px 8px; border: 1px solid #767676; width: 60%; height: 20px; text-align: left;">@Model.TenTK</span>

                </div>
                @Html.TextBoxFor(model => model.TenTK, htmlAttributes: new { @class = "text", @placeholder = "Họ tên", @style = "padding-left: 5px;outline: none; ", @hidden = "true" })
                <div class="form_infor-input">
                    @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "lable" })
                    @Html.TextBoxFor(model => model.HoTen, htmlAttributes: new { @class = "text", @placeholder = "Họ tên", @style = "padding-left: 5px;outline: none; " })

                </div>
                <div class="form_infor-input">
                    @Html.LabelFor(model => model.SDT, "Số điện thoại", htmlAttributes: new { @class = "lable" })
                    @Html.TextBoxFor(model => model.SDT, htmlAttributes: new { @class = "text", @placeholder = "Số điện thoại", @style = "padding-left: 5px;outline: none; " })

                </div>
                <div class="form_infor-input">
                    @Html.LabelFor(model => model.Dia_Chi, "Địa chỉ", htmlAttributes: new { @class = "lable" })
                    @Html.TextBoxFor(model => model.Dia_Chi, htmlAttributes: new { @class = "text", @placeholder = "Địa chỉ", @style = "padding-left: 5px;outline: none; " })

                </div>
                <div class="form_infor-input">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "lable" })
                    @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "text", @placeholder = "Email", @style = "padding-left: 5px;outline: none; " })

                </div>
                <button type="submit" style="width: 80px;height: 32px;border: none;background-color: #92278f;color: #fff;font-size: 14px;">
                    Cập nhật
                </button>
                <a href="/Home/Index" style=" text-decoration: none; font-size: 15px;">Hủy bỏ</a>
            }
        </div>


    </div>



</div>

